.main-content {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.section1 {
    grid-area: 1/1/2/2;
}

.img1 {
    grid-area: 1/2/2/3;
}

.section2 {
    grid-area: 2/2/3/3;
}